.watch_online{
  width: 100%;
  height: 770px;
  background:#283035;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}
.leaves_fixik{
  display: none;
}
.giant_panda{
  all: inherit;
  background-image: url(../../assets/images/Giant\ Panda.png);
  background-size: 100%;
}
.watch_circle{
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px/2 + 239.5px);
  top: 92px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 240px;
}
.watch_text{
  width: 500px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 106px;
  line-height: 82px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 74px 0 0 73px ;
  /* margin-top: 74px;
  margin-left: 73px; */
}
.wacth_button{
  color:#fff;
  position: absolute;
  top:626px;
  left: calc(50% - 298px/2 + 332px);
  width: 298px;
  height: 38px;
  text-align: center;
  text-decoration: none;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius:25px;
  padding-top: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.wacth_button:hover,
.pets_left:hover,
.pets_right:hover,
.pets_favorite_btn:hover,
.feed_btn:hover,
.feedback_background:hover
{
  background: #E47209;
  cursor: pointer;  
}
.wacth_button:active,
.pets_left:active,
.pets_right:active,
.pets_favorite_btn:active,
.feed_btn:active,
.feedback_background:active{
  background: #4B9200;
  cursor: pointer;
}
.leaves{
  position: absolute;
  top:862px;
  right: 0;
}
.backstage_block{
  display: flex;
  justify-content: center;
  margin-top: 400px;  
}
.backstage{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 430px;
}
.backstage_text{
  width: 465px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color:#333B41;
}
.backstage_text h2{
  font-size: 48px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 20px;
}
.backstage_text h3{
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 34px;
}
.backstage_text p{
  font-size: 16px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 54px;
}
.backstage_text p.litle_one{
  font-size: 16px;
  line-height: 22px;
}
.Pets_block{
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 80px;
}
.pets_right,
.pets_left{
  width: 62px;
  height: 40px;
  padding-top:21px ;
  border-radius: 31px;
  margin-top: 406px;
  color:#fff;
  text-align: center;
  text-decoration: none;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.pets_right{
  margin-left:20px;
}
.pets_left{
  margin-right: 20px;
}
.wraper{
  width: 1160px;
  height: 872px;
  display: grid;
  grid-template-columns:repeat(3,366px) ;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.round_gradient{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 428px;
  border-radius:5px;
  width: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper_item{
  height: 426px;
  font-family: 'Roboto';
  font-style: normal;
  border-radius:5px;
  background:#fff;
  overflow: hidden;
}
.wraper_item:hover .wraper_foto{
  transition: 1s;
  transform: scale(1.028);
  cursor: pointer;
}
.wraper_item:hover .wraper_text{
  background:#00000066;
  color:#fff;
  transition:1s;
  cursor: pointer;
}
.wraper_foto{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.wraper_item h2,
.wraper_item p{
  margin: 0;
}
.wraper_item h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.wraper_item p{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.wraper_text{
  padding: 8px 16px 8px 13px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.pets_favorite{

  display: flex;
  justify-content: center;
}
.pets_favorite_btn{
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  color:#fff;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.strelitzia{
  position: absolute;
  top:2431px;
  right: 0;
}
.palm{
  position: absolute;
  top:2246px;
  left: 0;
}
.pick_n_feed{
  width: 100%;
  height: 1004px;
  background:linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  margin-top: 100px;
  display: flex;justify-content: center;align-items: center;
}
.pnf_menu{
  width: 1160px;
  height: 835px;
  background:rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.zagolovok{
  font-size: 48px;
  line-height: 58px;
  color:#FE9013;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 41px;
}
.stroka1{
  margin-left: 99px;
  font-size: 24px;
  margin-top: 0;
  line-height: 29px;
  color: #333B41;
  margin-bottom: 40px;
}
.stroka2{
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
  line-height: 21px;
  color: #333B41;
  margin-left: 99px;
  margin-bottom: 10px;
}
.stroka3{
  font-size: 16px;
  line-height: 21px;
  color: #333B41;
  margin-left: 99px;
  margin-top: 0;
  margin-right: 198px;
}
.support{
  color:#333B41;
  text-decoration: underline #FE9013;
}
.zagolovok2{
  font-size: 36px;
  line-height: 47px;
  color: #333B41;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.instruction{
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructionIcons{
  width: 168px;
  height: 168px;
  background:#fff;
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 170px;
  border-radius:5px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardText{
  margin-top: 30px;
  width: 168px;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
  margin-bottom: 0;
  margin-top: 30px;
}
.arrow{
  padding: 0 30px 70px 30px;
}
.feed{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.feed_btn{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  color:#fff;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.testim_block{
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials{
  width: 1160px;
  margin-top: 140px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.testimonials h3{
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333B41;
  margin-bottom: 47px;
  margin-top: 0;
}
.rainbow_gradient{
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 20px;
  height: 391px;
  width: 266px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testim_cards{
  margin-right: 30px;
}
.test_card{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  background: #F1F3F2;
  border-radius: 20px;
  width: 262px;
  height: 387px;
}
.user{
  margin-left: 16px;
  margin-top: 15px;
  display: flex;
  height: 37px;
  margin-bottom: 10px;
}
.user_icon{
  border-radius: 20px;
}
.user_name{
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.locNtime{
  margin-top: 0;
  margin-left: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}
.coment{
  width: 237px;
  height: 309px;
  overflow: hidden;
  margin-left: 16px;
}
.coment_text{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  color: #767474
}
input[type=range]  {
  width: 598px;
  height: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: #F5F7F6;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
  width:115px;
  height: 6px;
  -webkit-appearance: none;
}
.rainbow_gradient_input{
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
  height: 8px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input[type=range]::-moz-range-track {
  height: 6px;
  background: #F5F7F6;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
  width:115px;
  height: 6px;
}
.feedback_btn{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.feedback{
  display: flex;
  justify-content: center;align-items: center;
}
.feedbackpanel{
  width: 1160px;
}
.feedback_background{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  margin-top: 31px;
  width: 298px;
  height: 54px;
  display: flex;align-items: center;justify-content: center;
}
footer{
  margin-top: 180px;
}
.green_leaf{
  position: absolute;
  top: 4328px;
  right: 0;
}
@media(max-width:1000px){
  .watch_online{
    height: 584px;
  }
  .giant_panda{
    width: 100%;
    height: 100%;
    background-size: 122%;
  }
  .watch_circle{
    left: calc(50% - 367px/2 + 139.5px);
    width: 367px;
    height: 367px;
  }
  .watch_text{
    width: 400px;
    height: 320px;
    left: calc(50% - 400.25px/2 + 214.12px);
    line-height: 64px;
    font-size: 85px;
  }
  .wacth_button{
    left: calc(50% - 298px/2 + 214px);
    top: 506px;
  }
  .leaves{
    display: none;
  }
  .backstage_block{
    margin-top: 684px;
  }
  .backstage{
    width: 940px;
  }
  .backstage_image{
    width: 455px;
    overflow: hidden;
  }
  .backstage_image img{
    position: relative;
    right: 80px;
  }
  .backstage_text{
    width: 454px;
  }
  .backstage_text h2{
    line-height: 58px;
    font-size: 48px;
    font-weight: 400;
  }
  .backstage_text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .backstage_text h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .backstage_text p.litle_one{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .Pets_block{
    margin-top: 142px;
  }
  .wraper{
    width: 940px;
    grid-template-columns: repeat(3,292px);
  }
  .round_gradient{
    height: 354px;
    width: 294px;
  }
  .wraper_item{
    height: 352px;
  }
  .wraper_foto{
    width: 100%;
  }
  .pets_left{
    position: relative;
    left: 410px;
    bottom: 39px;
    min-width: 62px;
    height: 40px;
  }
  .arrow2{
    display: none;
  }
  .malek{
    display: none;
  }
  .pets_right{
    position: relative;
    right: 410px;
    bottom: 39px;
    min-width: 62px;
    height: 40px;
  }
  .strelitzia{
    top: 2167px;
    transform: scale(0.655) translate(96px, 72px);
  }
  .palm{
    top: 1982px;
    transform: scale(0.44) translate(-186px, 292px);
  }
  .pnf_menu{
    width: 940px;
    height: 876px;
  }
  .zagolovok{
    font-weight: 400;
    font-size: 48px;
    line-height: 58px
  }
  .stroka1{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-left: 49px;
  }
  .stroka2{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 49px;
    width: 846px;
  }
  .stroka3{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-left: 49px;
    width: 846px;
  }
  .zagolovok2{
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
  }
  .testimonials{
    margin-top: 100px;
  }
  .testim_block{
    max-width: 1000px;
  }
  .testim_cards:first-child{
    margin-left: 30px;
  }
  .rainbow_gradient{
    width: 293px;
  }
  .test_card{
    width: 289px;
  }
  .testim_block .testim_cards:last-child{
    display: none;
  }
  .rainbow_gradient_input{
    width: 390px;
  }
  input[type=range]{
    width: 388px;
  }
  .feedbackpanel{
    width: 940px;
  }
  .lit{
    display: none;
  }
  .green_leaf{
    top: 4019px;
    transform: scale(0.9) translate(14px, 13px);
  }
}
@media(max-width:640px){
  .watch_online{
    height: 373px;
  }
  .watch_circle{
    width: 237px;
    height: 237px;
    left: calc(50% - 237.6px/2 + 130.44px);
    top:44px;
  }
  .watch_text{
    font-weight: 700;
    font-size: 54px;
    line-height: 41px;
    margin: 37px 0 0 37px;
    width: 255px;
    height: 204px;
  }
  .wacth_button{
    left: calc(50% - 298px/2 - 151px);
    top: 279px;
  }
  .backstage_block{
    margin-top: 473px;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .leaves_litle{
    position: absolute;
    top: 372px;
    right: 0;
  }
  .backstage_image{
    display: none;
  }
  .backstage_text p{
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .backstage_text h3{
    margin-bottom: 20px;
  }
  .backstage_text p.litle_one{
    width: 495px;
  }
  .backstage{
    width: 495px;
    height: 367px;
  }
  .Pets_block{
    margin-top: 80px;
    margin-bottom: 60px;
    height: 756px;
  }
  .wraper{
    grid-template-columns: repeat(2,285px);
    width: 600px;
  }
  .wraper_item{
    height: 330px;
    width: 283px;
  }
  .wraper_item h2{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
  }
  .wraper_item p{
    font-size: 11px;
    line-height: 14px;
  }
  .wraper_text{
    padding: 6px 12px 10px 10px;
  }
  .wraper_text img{
    transform: scale(0.8);
  }
  .round_gradient{
    width: 285px;
    height: 332px;
  }
  .wraper .round_gradient:last-child,
  .wraper .round_gradient:nth-of-type(5){
    display: none;
  }
  .pets_left{
    left: 294px;
  }
  .pets_right{
    right: 294px;
  }
  .strelitzia{
    top: 1615px;
    transform: scale(0.55) translate(151px, 112px);
  }
  .palm{
    top: 1431px;
    transform: scale(0.42) translate(-202px, 316px);
  }
  .pick_n_feed{
    height: 781px;
  }
  .pnf_menu{
    width: 100%;
    height: 741px;
  }
  .zagolovok{
    margin-top: 10px;
  }
  .stroka1{
    width: 600px;
    font-size: 22px;
    line-height: 26px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .stroka2{
    width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .stroka3{
    width: 600px;
    margin-left: 20px;
  }
  .zagolovok2{
    margin-top: 30px;
  }
  .arrow{
    display: none;
  }
  .instruction{
    width: 600px;
    align-items: unset;
    justify-content: space-between;
    margin-left: 20px;
  }
  .arrow2{
    display: inherit;
    position: absolute;
  }
  .first{
    top: 396px;
    left: 161px
  }
  .second{
    top: 396px;
    right: 173px;
  }
  .feed{
    margin-top: 40px;
  }
  .testim_block{
    width: 640px;
  }
  .testimonials{
    margin-top: 60px;
  }
  .flat{
    flex-direction: column;
  }
  .testim_cards,
  .testim_cards:first-child{
    margin: 0;
  }
  .rainbow_gradient{
    width: 600px;
    height: 109px;
    /* margin-left: 20px; */
    margin-bottom: 15px;
  }
  .test_card{
    width: 596px;
    height: 105px;
    overflow: hidden;
  }
  .coment{
    width: 565px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .rainbow_gradient_input{
    display: none;
  }
  .feedbackpanel{
    width: 600px;
    justify-content: center;
    display: flex;
    height: 40px;
  }
  .feedback_background{
    margin-top: 20px;
  }
  .green_leaf{
    top: 3195px;
  }
  .big{
    display: none;
  }
  .lit{
    display: unset;
  }
   footer{
    margin-top: 100px;
  }
  .mal{
    position: absolute;
    right: 0;
    top: 3333px;
  }
}
@media(max-width:320px){
  .watch_online{
    height: 221px;
  }
  .giant_panda{
    background-size: 150%;
  }
  .watch_circle{
    width: 119px;
    height: 119px;
  }
  .watch_text{
    width: 128px;
    height: 102px;
    font-size: 28px;
    line-height: 21px;
    margin: 18px 0 0 18px;
  }
  .wacth_button{
    left: calc(50% - 298px/2);
    top: 241px;
  }
  .leaves_litle{
    display: none;
  }
  .leaves_fixik{
    display: unset;
    position: absolute;
    right: 0;
    top: 269px;
  }
  .backstage_block{
    margin-top: 321px;
  }
  .backstage{
    width: 300px;
  }
  .backstage_text{
    width: 300px;
  }
  .backstage_text h2{
    font-size: 24px;
    line-height: 29px;
  }
  .backstage_text p{
    margin-bottom: 20px;
  }
  .backstage_text h3{
    margin-bottom: 10px;
  }
  .backstage_text p.litle_one{
    width: 300px;
  }
  .pets_left,.pets_right{
    display: none;
  }
  .Pets_block{
    margin-top: 40px;
    height:1388px;
    margin-bottom: 20px;
  }
  .wraper{
    grid-template-columns: 285px;
    width: 300px;
  }
  .nemalek{
    display: none;
  }
  .malek{
    display: unset;
  }
  .strelitzia{
    top: 2188px;
    transform: scale(1) translate(0, 0);
  }
  .palm{
    top: 1791px;
    transform: scale(0.2) translate(-584px, 915px);
  }
  .pick_n_feed{
    margin-top: 60px;
    height: 1120px;
  }
  .pnf_menu{
    width: 300px;
    height: 1090px;
  }
  .zagolovok{
    font-size: 24px;
    line-height: 29px;
  }
  .stroka1{
    font-size: 18px;
    line-height: 22px;
    width: 300px;
    text-align: center;
    margin-left: 0;
  }
  .stroka2,.stroka3{
    display: none;
  }
  .zagolovok2{
    font-size: 24px;
    line-height: 29px;
  }
  .instruction{
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin-left: 66px;
  }
  .card{
    margin-bottom: 29px;
  }
  .cardText{
    margin-top: 10px;
  }
  .arrow2{
    transform: rotate(84deg) scale(1.1);
  }
  .first{
    top: 422px;
    left: 207px;
  }
  .second{
    top: 660px;
    left: 207px;
  }
  .testim_block{
    width: 320px;
  }
  .rainbow_gradient{
    width: 300px;
  }
  .test_card{
    width: 296px;
  }
  .coment{
    width: 252px;
  }
  .green_leaf{
    top: 3894px;
    transform: scale(0.5) translate(58px, 49px);
  }
  .mal{
    top: 4075px;
  }
}