.watch_online{
  width: 100%;
  height: 770px;
  background:#283035;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}
.giant_panda{
  all: inherit;
  background-image: url(../../assets/images/Giant\ Panda.png);
  background-size: 100%;
}
.watch_circle{
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px/2 + 239.5px);
  top: 92px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 240px;
}
.watch_text{
  width: 500px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 106px;
  line-height: 82px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 74px 0 0 73px ;
  /* margin-top: 74px;
  margin-left: 73px; */
}
.wacth_button{
  color:#fff;
  position: absolute;
  top:626px;
  left: calc(50% - 298px/2 + 332px);
  width: 298px;
  height: 38px;
  text-align: center;
  text-decoration: none;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius:25px;
  padding-top: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.wacth_button:hover,
.pets_left:hover,
.pets_right:hover,
.pets_favorite_btn:hover,
.feed_btn:hover,
.feedback_background:hover
{
  background: #E47209;
  cursor: pointer;  
}
.wacth_button:active,
.pets_left:active,
.pets_right:active,
.pets_favorite_btn:active,
.feed_btn:active,
.feedback_background:active{
  background: #4B9200;
  cursor: pointer;
}
.leaves{
  position: absolute;
  top:862px;
  right: 0;
}
.backstage_block{
  display: flex;
  justify-content: center;
  margin-top: 910px;  
}
.backstage{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 430px;
}
.backstage_text{
  width: 465px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color:#333B41;
}
.backstage_text h2{
  font-size: 48px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 20px;
}
.backstage_text h3{
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 34px;
}
.backstage_text p{
  font-size: 16px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 54px;
}
.backstage_text p.litle_one{
  font-size: 16px;
  line-height: 22px;
}
.Pets_block{
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 80px;
}
.pets_right,
.pets_left{
  width: 62px;
  height: 40px;
  padding-top:21px ;
  border-radius: 31px;
  margin-top: 406px;
  color:#fff;
  text-align: center;
  text-decoration: none;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.pets_right{
  margin-left:20px;
}
.pets_left{
  margin-right: 20px;
}
.wraper{
  width: 1160px;
  height: 872px;
  display: grid;
  grid-template-columns:repeat(3,366px) ;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.round_gradient{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 428px;
  border-radius:5px;
  width: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper_item{
  height: 426px;
  font-family: 'Roboto';
  font-style: normal;
  border-radius:5px;
  background:#fff;
  overflow: hidden;
}
.wraper_item:hover .wraper_foto{
  transition: 1s;
  transform: scale(1.028);
  cursor: pointer;
}
.wraper_item:hover .wraper_text{
  background:#00000066;
  color:#fff;
  transition:1s;
  cursor: pointer;
}
.wraper_foto{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.wraper_item h2,
.wraper_item p{
  margin: 0;
}
.wraper_item h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.wraper_item p{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.wraper_text{
  padding: 8px 16px 8px 13px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.pets_favorite{

  display: flex;
  justify-content: center;
}
.pets_favorite_btn{
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  color:#fff;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.strelitzia{
  position: absolute;
  top:2431px;
  right: 0;
}
.palm{
  position: absolute;
  top:2246px;
  left: 0;
}
.pick_n_feed{
  width: 100%;
  height: 1004px;
  background:linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  margin-top: 100px;
  display: flex;justify-content: center;align-items: center;
}
.pnf_menu{
  width: 1160px;
  height: 835px;
  background:rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.zagolovok{
  font-size: 48px;
  line-height: 58px;
  color:#FE9013;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 41px;
}
.stroka1{
  margin-left: 99px;
  font-size: 24px;
  margin-top: 0;
  line-height: 29px;
  color: #333B41;
  margin-bottom: 40px;
}
.stroka2{
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
  line-height: 21px;
  color: #333B41;
  margin-left: 99px;
  margin-bottom: 10px;
}
.stroka3{
  font-size: 16px;
  line-height: 21px;
  color: #333B41;
  margin-left: 99px;
  margin-top: 0;
  margin-right: 198px;
}
.support{
  color:#333B41;
  text-decoration: underline #FE9013;
}
.zagolovok2{
  font-size: 36px;
  line-height: 47px;
  color: #333B41;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.instruction{
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructionIcons{
  width: 168px;
  height: 168px;
  background:#fff;
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 170px;
  border-radius:5px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardText{
  margin-top: 30px;
  width: 168px;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
  margin-bottom: 0;
  margin-top: 30px;
}
.arrow{
  padding: 0 30px 70px 30px;
}
.feed{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.feed_btn{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  color:#fff;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.testim_block{
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials{
  width: 1160px;
  margin-top: 140px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.testimonials h3{
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333B41;
  margin-bottom: 47px;
  margin-top: 0;
}
.rainbow_gradient{
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 20px;
  height: 391px;
  width: 266px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testim_cards{
  margin-right: 30px;
}
.test_card{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  background: #F1F3F2;
  border-radius: 20px;
  width: 262px;
  height: 387px;
}
.user{
  margin-left: 16px;
  margin-top: 15px;
  display: flex;
  height: 37px;
  margin-bottom: 10px;
}
.user_icon{
  border-radius: 20px;
}
.user_name{
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.locNtime{
  margin-top: 0;
  margin-left: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}
.coment{
  width: 237px;
  height: 309px;
  overflow: hidden;
  margin-left: 16px;
}
.coment_text{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  color: #767474
}
input[type=range]  {
  width: 598px;
  height: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: #F5F7F6;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
  width:115px;
  height: 6px;
  -webkit-appearance: none;
}
.rainbow_gradient_input{
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
  height: 8px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input[type=range]::-moz-range-track {
  height: 6px;
  background: #F5F7F6;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
  width:115px;
  height: 6px;
}
.feedback_btn{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.feedback{
  display: flex;
  justify-content: center;align-items: center;
}
.feedbackpanel{
  width: 1160px;
}
.feedback_background{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  margin-top: 31px;
  width: 298px;
  height: 54px;
  display: flex;align-items: center;justify-content: center;
}
footer{
  margin-top: 180px;
}
.green_leaf{
  position: absolute;
  top: 4328px;
  right: 0;
}