.watch_online{
  width: 100%;
  height: 770px;
  background:#283035;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}
.giant_panda{
  all: inherit;
  background-image: url(../../assets/images/Giant\ Panda.png);
  background-size: 100%;
}
.watch_circle{
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px/2 + 239.5px);
  top: 92px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 240px;
}
.watch_text{
  width: 500px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 106px;
  line-height: 82px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 74px 0 0 73px ;
  /* margin-top: 74px;
  margin-left: 73px; */
}
.wacth_button{
  color:#fff;
  position: absolute;
  top:626px;
  left: calc(50% - 298px/2 + 332px);
  width: 298px;
  height: 38px;
  text-align: center;
  text-decoration: none;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius:25px;
  padding-top: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.wacth_button:hover,
.pets_left:hover,
.pets_right:hover,
.pets_favorite_btn:hover{
  background: #E47209;
  cursor: pointer;  
}
.wacth_button:active,
.pets_left:active,
.pets_right:active,
.pets_favorite_btn:active{
  background: #4B9200;
  cursor: pointer;
}
.leaves{
  position: absolute;
  top:862px;
  right: 0;
}
.backstage_block{
  display: flex;
  justify-content: center;
  margin-top: 910px;  
}
.backstage{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 430px;
}
.backstage_text{
  width: 465px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color:#333B41;
}
.backstage_text h2{
  font-size: 48px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 20px;
}
.backstage_text h3{
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 34px;
}
.backstage_text p{
  font-size: 16px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 54px;
}
.backstage_text p.litle_one{
  font-size: 16px;
  line-height: 22px;
}
.Pets_block{
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 80px;
}
.pets_right,
.pets_left{
  width: 62px;
  height: 40px;
  padding-top:21px ;
  border-radius: 31px;
  margin-top: 406px;
  color:#fff;
  text-align: center;
  text-decoration: none;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.pets_right{
  margin-left:20px;
}
.pets_left{
  margin-right: 20px;
}
.wraper{
  width: 1160px;
  height: 872px;
  display: grid;
  grid-template-columns:repeat(3,366px) ;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.round_gradient{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 428px;
  border-radius:5px;
  width: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper_item{
  height: 426px;
  font-family: 'Roboto';
  font-style: normal;
  border-radius:5px;
  background:#fff;
  overflow: hidden;
}
.wraper_item:hover .wraper_foto{
  transition: 1s;
  transform: scale(1.028);
}
.wraper_item:hover .wraper_text{
  background:#00000066;
  color:#fff;
  transition:1s;
}
.wraper_foto{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.wraper_item h2,
.wraper_item p{
  margin: 0;
}
.wraper_item h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.wraper_item p{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.wraper_text{
  padding: 8px 16px 8px 13px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.pets_favorite{

  display: flex;
  justify-content: center;
}
.pets_favorite_btn{
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  color:#fff;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}