body {
  margin: 0;
}
header {
  height: 80px;
  background: #000000;
  position: relative;
  z-index: 30;
}
.header {
  display: flex;

  justify-content: center;
}
.little_logo{
  display:none;
}
.burg_menu{
  display: none;
}
.locate {
  pointer-events: none;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head{
  width: 1160px;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: none;
}
.logoNav {
  display: flex;
  align-items: center;
}
.logo {
  width: 82px;
  height: 52px;
}
.navbar {
  color: #fff;
  display: flex;
  padding: 0;
  margin-left: 63px;
  min-width: 427px;
  align-items: center;
}
.nav,
.figma {
  color: #fff;
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-right: 58px;
  line-height: 140%;
}
.nav:hover,
.figma:hover {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.figma {
  margin: 29px 0;
}
footer {
  width: 100%;
  height: 443px;
  background: #111115;
  display: flex;
  justify-content: center;
}
.footer {
  width: 1160px;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.foot {
  position: relative;
  top: 41px;
  left: 0;
}
.subscribe {
  margin: 0;
  top: 40px;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.subscribe p {
  margin-bottom: 14px;
  width: 376px;
}
.email {
  display: flex;
  justify-content: space-between;
}
.donate_btn:hover {
  background: #e47209;
  cursor: pointer;
}
.donate_btn:active {
  background: #4b9200;
  cursor: pointer;
}
.footer_gradient {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2px;
  width: 228px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email_text {
  width: 222px;
  height: 38px;
  border: none;
  background: #111115;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #bdbdbd;
}
.email_submit {
  color: #4b9200;
  border: 1px solid #4b9200;
  border-radius: 5px;
  background: #f1f3f2;
  width: 129px;
}
.email_submit:hover {
  cursor: pointer;
}
.donate_btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 50px;
  margin-top: 68px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  text-decoration: none;
}
.footer2 {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.social {
  display: flex;
  flex-direction: column;
}
.soc {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mal{
  display: none;
}
.soc img {
  margin-right: 12px;
}
.navfoot {
  color: #fff;
  display: flex;
  padding: 0;
  margin-left: 63px;
  min-width: 427px;
  align-items: flex-end;
}
.autors {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  align-self: end;
  opacity: 0.5;
}
.soc:hover{
  color:#E47209;
  cursor: pointer;
}
@media(max-width:1000px){
  .head{
    width: 940px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .footer{
    width: 940px;
  }
  .email_submit,
  .email_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .footer2{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .autors{
    width: 228px;
    line-height: 21px;
    font-size: 15px;
  }
  .navfoot{
    margin-left: 43px;
  }
}
@media (max-width:640px){
  header{
    height: 34px;
    position: fixed;
    width: 640px;
    top: 0;
  }
  .little_logo{
    display: block;
  }
  .head{
    width: 600px;
  }
  .logo{
    width:47px;
    height:30px;
    margin-top: 2px;
  }
  .burg_menu{
    display: flex;
    width: 18px;
    height: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 11px;
    cursor: pointer;
  }
  .burg_menu span{
    background:#fff;
    width: 18px;
    height: 2px;
    border-radius:2px;
  }
  .logoNav,
  .figma{
    display: none;
  }
  .menu{
    display: inherit;
    position: fixed;
    width: 100%;
    height: 329px;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.5s; 
    background:#fff;
  }
  .menu.active {
    transform: translateX(0);
  }
  .active .logoNav{
    display: flex;
    flex-direction: column;
    align-items:unset;
    margin-left: 10px;
  }
  .logo_orange{
    width: 65px;
    height: 41px;
    padding-top: 10px;
  }
  .navbar{
    margin: 0;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
  }
  .nav{
    color:#333B41;
    padding-bottom: 15px;
  }
  footer{
    height: 282px;
  }
  .footer{
    width: 600px;
    
  }
  .footer1{
    margin-bottom: 58px;
  }
  .subscribe{
    display: none;
  }
  .bolsh{
    display: none;
  }
  .mal{
    display: unset;
  }
  .mal a{
    margin-bottom: 20px;
  }
  .foot{
    width: 82px;
    height: 52px;
    top: 12px;
  }
  .footer2{
    height: 52px;
    margin-top: 92px;
    flex-direction: column-reverse;
  }
  .navfoot{
    width: 298px;
    margin: 0;
  }
  .navfoot .nav{
    color:#fff;
    margin-right: 37px;
  }
  .autors{
    margin: 0;
    position: relative;
    top: 20px;
  }
}